@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  background: #e4e4e4;
  margin: 0;
  margin: 0;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  margin-bottom: 1.875em;
}

#open-modal,
#close-modal {
  background: #ac66cc;
  border: none;
  border-radius: 25px;
  color: #dddddd;
  font-size: 1rem;
  padding: 0.75em 1.2em;
}

#open-modal:hover,
#close-modal:hover,
#open-modal:focus #close-modal:focus {
  background: #dddddd;
  border: 2px solid #cc99f9;
  color: #ac66cc;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

#modal {
  border: 30px solid #cc99f9;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(52, 51, 51, 0.3);
  background-color: rgba(242, 242, 242, 0.802);
  max-width: 680px;
  margin: 0 auto;
  margin-top: 4em;
  height: 200px;
  padding-top: 1.875em;
  padding-bottom: 0.5em;
  position: relative;
  top: 25%;
}

#overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
